*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(229, 225, 225);
}

.status-box {
    display: none;
    font-size: 1.8rem;
    background-color: rgb(205, 173, 131);
    color: white;
    padding: 5px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
}

.game-board {
    /* display: grid; */
    display: none;
    grid-template-columns: repeat(3, 1fr);
    background-color: navy;
    box-shadow: white 10px 10px 12px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.0rem;
    color: gold;
}

.game-board:has(.cell:hover) .cell {
    opacity: 0.3;
}

.game-board .cell:hover {
    opacity: 1 !important;
    transform: scale(1.05);
}

.play-btn {
    width: 80px;
    background: yellow;
    border: rgb(1, 42, 1) solid 2px;
    border-radius: 20px;
    text-align: center;
    padding: 4px 8px;
    color: rgb(1, 42, 1);
    font-weight: bold;
}

.play-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}